<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Vue.JS Image Gallery Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway:300,400,600" rel="stylesheet">
  <link rel="stylesheet" href="./dest/css/styles.css">
  <script type="text/javascript" src="./lib/vue.js"></script>
  <!-- <script type="text/javascript" src="./lib/vue-router.js"></script> -->
</head>
<body>

<main id="app">
  <section class="title">
    <h1>Vue.JS Product Gallery</h1>
  </section>
  <section class="productsGallery">
    <div class="productImg" v-for="product in products" :key="products.id">
      <img :src="product.image" :alt="product.title">
    </div>
    <!-- <div class="productInfo">
      <h3>{{ title }}</h3>
      <h4>{{ longDescript }}</h4>
      <ul>
        <li v-for="detail in details">{{ detail }}</li>
      </ul>
      <h5>{{ stockStatus }}</h5>
      <p v-show="sale">On Sale Now!</p>
    </div> -->
    <div class="nav">
      <button class="btn-prev" v-on:click="prev">&lt; Prev</button>
      <button class="btn-next" v-on:click="next">Next &gt;</button>
    </div>
  </section>
  <!-- <router-view></router-view> -->
</main>


<script src="./src/js/main.js"></script>
</body>
</html>
