* {box-sizing: border-box;}
body {
  font-family: $baseFontFamily;
  font-weight: $base-font-weight;
  color: $baseFont-color;
  background: $viewportBackground-color;
  font-size: $base-font-size;
}
// type-scale = Major Third (1.250)
h1 {
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
